* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display:flex;
  justify-content: center;
  align-items:center;
  min-height: 97vh;
  background-color: #333;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  text-align: center;
  text-transform: uppercase;
  color: #EBBD10;
  font-size: 3rem;
  margin-bottom: 3rem;
}

h2 {
  font-size: 1.7rem;
}

.search {
  text-align: center;
  margin-top: 1rem;
}

input, button {
  border: none;
}

input {
  border-radius: 10px 0 0 10px;
  padding: 0.7rem;
  font-size: 1.1rem;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button{
  border-radius: 0px 10px 10px 0px;
  background-color: #EBBD10;
  padding: 0.52rem;
  cursor: pointer;
  transition: .2s linear;
}

button:hover {
  background-color: #5f5f5f;
}

.search {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.result {
  border-radius: 10px;
  font-size: 1.3rem;
  margin-top: 25px;
  background-color: #fff;
  padding: 1rem 0.6rem;
}

.result div {
  min-height: 34px;
  font-size: 1.3rem;
  padding-bottom: .5rem;
  margin: 5px 0;
  border-bottom: 1px solid #EBBD10;
  color: #101FEB;
}

.link {
  text-align: center;
  margin-top: 1rem;
}

.link a {
  color: gray;
}

.loader {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 6px solid;
  margin: 10px auto;
  border-top-color: #EBBD10;
}

.loading {
  animation: loading 1s infinite;
}

@keyframes loading {
  to {
    transform: rotate(1turn);
  }
}

.container {
  padding: 0 1rem;
}